@model ProductEditVM
@{
    ViewData["Title"] = "Edit";
}

<style>
    .image-delete{
        position:relative;
    }

    .image-delete button{
        position:absolute;
        right:65px;
        top:80px;
        opacity:0;
        transition: all .5s;
    }

        .image-delete:hover button{
            position: absolute;
            right: 65px;
            top: 80px;
            opacity: 1;
        }

        .image-delete:hover img{
            opacity:.4;
        }
        .button-opacity{
            opacity:1;
        }

</style>



<div class="container mt-5">

        <div style="display: flex; max-width: 800px; margin: 50px auto; border: 1px solid #ccc; border-radius: 8px; overflow: hidden;">
            @if (Model.Images.Count != 0)
            {
                
                foreach (var item in Model.Images)
                {
                
                    <div class="image-delete">
                   
                           <img data-id="@item.Id" class="product-image" src="~/img/@item.Image" alt="Product Image" style="width:150px; height: 150px; margin:25px; @(item.IsMain ? "border:3px solid green":"")">

                        
                    @if (!item.IsMain)
                    {
                        <button data-id="@item.Id" class="btn btn-danger btn-sm">Delete</button>
                    }
                    </div>
               
                    
                }

            }
            
        </div>
    <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input type="text" asp-for="Description" class="form-control">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input type="number" step="any" asp-for="Price" class="form-control">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.categories">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Photos">Image</label>
            <input asp-for="Photos" class="form-control">
            <span class="text-danger" asp-validation-for="Photos"></span>
        </div>


        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a class="btn btn-light" asp-action="Index">Back</a>
    </form>
</div>

@section script{
    <script src="~/admin/js/main.js"></script>
}

